[Unit]
Description=browsepy

[Service]
#Environment=HOME=/root
User=raspberryUsername
Group=audio
Environment=BROWSEPY_HOST=0.0.0.0
Environment=BROWSEPY_PORT=8081

WorkingDirectory=/home/raspberryUsername/data/user-files/
ExecStart=/usr/local/bin/browsepy 0.0.0.0 8081 --directory /home/raspberryUsername/data/user-files --upload /home/raspberryUsername/data/user-files --removable /home/raspberryUsername/data/user-files
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
